$color-primary: #222222;
$color-primary-60:#2222229d;
$color-primary-light: #ffffff;
$color-primary-light-60: #ffffff6b;
$color-secondary:#999999;
$color-secondary-light: #EEEEEE;
$color-black:rgb(0, 0, 0);

$color-thrid: #343332;
