@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');



body{
    font-family:'Fira Sans', sans-serif;
}

$font-size-header:53px;
$font-size-regular: 12px;
$font-size-bigger: 16px;